.ipynb_checkpoints
*/.ipynb_checkpoints/*
/.idea
/check_csv
/saved_csv
/__pycache__
/yadisk_venv
/saved_avito_csv
*/saved_avito_csv/*
/saved_cian_csv
*/saved_cian_csv/*
/saved_data_csv/avito_dadata_request.csv
/saved_data_csv/cian_dadata_request.csv